<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register User</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="main">
      <h2>REGISTER YOUR ACCOUNT</h2>
      <form action="/register" method="post">
        <input type="name" name="name" placeholder="Enter your name" />
        <input type="email" name="email" placeholder="Enter your Email" />
        <input type="password" name="password" placeholder="Enter Password" />
        <button>REGISTER</button>
      </form>
    </div>
  </body>
</html>
