@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e62766;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.main {
  width: 500px;
  max-width: 90%;
  text-align: center;
  background-color: grey;
  padding: 30px 20px;
  border-radius: 10px;
}

.main > h2 {
  font-size: 30px;
  color: black;
  margin: 0 0 30px 0;
}

.main > form > input {
  width: 90%;
  padding: 15px;
  background-color: #fff;
  color: #000;
  border: 0;
  margin: 10px 5px;
  border-radius: 8px;
}

.main > form > button {
  background-color: aquamarine;
  padding: 15px 20px;
  width: 70%;
  border: none;
  color: #000;
  margin-top: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.main > form > input:focus,
.main > form > button:focus {
  outline: none;
}
